.btn{
    width: 200px ;
    background: none;
    border: 2px solid var(--secondary-color);
    color: white;
    border-radius: 30px;
    padding: 0.6em 1.2em !important;
    font-size: 1em;
    font-weight: 500;
    display: flex;
    justify-content: center;
  
  
  }
  .btn:hover{
    background-color: var(--secondary-color);
    color: white;
    border-color: var(--secondary-color);
  }
  

  :root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    
    --primary-color: #97cf00; 
    --secondary-color: #00a9e5;
    --normal-color : #1b263c;
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    
  }
  
  
  body {
    margin: 0;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    color: var(--normal-color);
  }
  
  h1 {
    font-size: 3.2em;
    line-height: 1.1;
  }
  .container{
/*     background-color: white;
 */    margin: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  
  
  